body {
  font-family: cursive;
}

.close-btn_active {
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: #5271ff;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  padding: 0.6rem;
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  /* display: inline-block; */
}

.close-btn_active:hover {
  background-color: rgb(41, 41, 133);
}

.bookmarked_content_container_inactive,
.close-btn_inactive {
  display: none;
}

.bookmarked_content_container_active {
  position: absolute;
  right: 3rem;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  border: #5271ff 0.1rem solid;
  /* border-top: 0; */
  width: 23rem;
  border-radius: 0.7rem;
  margin-top: 1rem;
}

.bookmark_list {
  margin: 0;
}

.bookmark_item_img {
  width: 2rem;
  height: auto;
  border-radius: 30%;
}

.title_text {
  font-size: 1.25rem;
  margin: 1.2rem 0 0 1.2rem;
  text-decoration: underline;
}

.bookmark_item {
  list-style: none;
}

.bookmark_item:hover {
  border: #5271ff 0.1rem solid;
  border-left: 0;
  border-right: 0;
}

.bookmark_item div {
  color: white;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}
.delete{
  /* text-transform: uppercase; */
  padding: 0.1rem;
  display: inline-block;
  border: #5271ff 0.1rem solid;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
}

.delete:hover{
  background-color: red;
}